///* ========================================================================
//   #BADGES
//   ======================================================================== */


$badge-padding: rem(4px) rem(12px);
$badge-small-padding: rem(4px) rem(10px);
$badge-xsmall-padding: rem(2px) rem(5px);

$badge-border-radius: $base-border-radius;

$badge-small-font-size: 10px;
$badge-font-size: $text-small-font-size;
$badge-font-weight: $font-weight-bold;
$badge-color: $white;

// Style variants
$badge-success-background-color: $color-success;
$badge-info-background-color: $color-info;
$badge-danger-background-color: $color-danger;
$badge-warning-background-color: $color-warning;
$badge-primary-background-color: $gunmetal-100;
$badge-secondary-background-color: $grey-600;

$badge-secondary-color: $white;

