///* ========================================================================
//   #CARD
//   ======================================================================== */

$card-border-width: $base-border-width;
$card-border-color: $base-border-color;
$card-border-radius: $base-border-radius;
$card-background-color: $base-background-color;

$card-header-padding: rem(25px) $spacer;
$card-header-background-color: $secondary-background-color;

$card-title-font-size: $h5-font-size;
$card-meta-color: $color-mute;
$card-meta-font-size: $text-small-font-size;

$card-icon-font-size: $h2-font-size;
$card-icon-color: $white;

$card-body-padding: $spacer;
